/* 

input.form-control:invalid:focus,
select:invalid:focus,
textarea:invalid:focus{
    border:1px solid red;
}

input:valid ~ .form-control-feedback,
input:valid ~ .help-block,
select:valid ~ .form-control-feedback,
select:valid ~ .help-block,
textarea:valid ~ .form-control-feedback,
textarea:valid ~ .help-block {
    display: none;
}

input:invalid:focus ~ .form-control-feedback,
input:invalid:focus ~ .help-block,
select:invalid:focus ~ .form-control-feedback,
select:invalid:focus ~ .help-block,
textarea:invalid:focus ~ .form-control-feedback,
textarea:invalid:focus ~ .help-block {
    color: red;
} */